h1{
    color: purple;
    margin-left: 20px;
}

input {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 200px;
}

label {
    margin-left: 20px;
}

#container {
    border: 1px solid purple;
    width: 360px;
    margin: 20px auto;
}

#submit {
    width: 100px;
    color: white;
    background-color: purple;
    
}

#mytext {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    width: 295px;
    height: 125px;
}