<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        <h1>Dojo Survey</h1>
        <form action="/users" method='post'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <p>
                <label for="fname">Your Name:</label>
                <input type="text" name='fname' >
            </p>
            <p>
                <label for="location">Dojo Location:</label>
                <select name="location">
                    <option value="Tokyo">Tokyo</option>
                    <option value="Osaka">Osaka</option>
                    <option value="Kyoto">Kyoto</option>
                </select>
            </p>
            <p>
                <label for="language">Favorite Language:</label>
                <select name="language">
                    <option value="Python">Python</option>
                    <option value="Javascript">MERN</option>
                    <option value="Java">Java</option>
                </select>
            </p>
            <p>
                <label for="desc">Comment (not optional):</label>
                <textarea name="desc" id="mytext" ></textarea>
            </p>
            <p>
                <input id="submit" type="submit" value="Submit" name='submitbtn' >
            </p>
        </form>
    </div>
</body>
</html>