<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Show me the Data</title>
</head>
<body>
    <p>Name entered was: {{name}}</p>
    <p>Location entered was: {{location}}</p>
    <p>Language entered was: {{language}}</p>
    <p>Comment entered was: {{comment}}</p>

    <form action="/return" method="POST">
    <input type="submit" value="Return">
    </form>
</body>
</html>